target-version = "py311"
line-length = 100

[lint]
select = [
  "E",   # pycodestyle errors
  "F",   # pyflakes
  "I",   # isort
  "B",   # flake8-bugbear
  "UP",  # pyupgrade
]
ignore = [
]

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
